<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
<description>jsp-init</description>
<display-name>jsp-init</display-name>
<servlet>
<servlet-name>result</servlet-name>
<jsp-file>/result.jsp</jsp-file>
<init-param>
<param-name>email</param-name>
<param-value>i.kickedbutt@wickedlysmart.com</param-value>
</init-param>
</servlet> 
<servlet-mapping>
<servlet-name>result</servlet-name>
<url-pattern>/result.jsp</url-pattern>
</servlet-mapping>
<context-param>
<param-name>email2</param-name>
<param-value>clientheaderror@wickedlysmart.com</param-value>
</context-param>
</web-app>